// Bookinsanity
@font-face {
  font-family: "Bookinsanity";
  src: url("/fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("/fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("/fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("/fonts/Bookinsanity/Bookinsanity Bold Italic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Mr Eaves
@font-face {
  font-family: "Mr Eaves";
  src: url("/fonts/Mr Eaves/Mr Eaves.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Scaly Sans
@font-face {
  font-family: "Scaly Sans";
  src: url("/fonts/Scaly Sans/Scaly Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scaly Sans";
  src: url("/fonts/Scaly Sans/Scaly Sans Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scaly Sans";
  src: url("/fonts/Scaly Sans/Scaly Sans Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scaly Sans";
  src: url("/fonts/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
