@use "./utils/theme" as theme;

$themes-map: (
  "ua-light": theme.$ua-light,
  "ua-dark": theme.$ua-dark,
  "5e-tools-light": theme.$five-e-tools-light,
  "5e-tools-dark": theme.$five-e-tools-dark,
);

@mixin set-theme-css-vars-from-data-theme-attribute() {
  @each $theme-name, $theme in $themes-map {
    &[data-theme="#{$theme-name}"] {
      @include theme.applyTheme($theme);
    }
  }
}

html {
  @include theme.applyTheme(theme.$ua-light);
  @include set-theme-css-vars-from-data-theme-attribute();

  @media (prefers-color-scheme: dark) {
    @include theme.applyTheme(theme.$ua-dark);
    @include set-theme-css-vars-from-data-theme-attribute();
  }

  background-color: theme.$color-bg;
}

* {
  color: theme.$color-text;
}
