@use "./utils/mixins" as mixins;

:where(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: normal;
  font-style: normal;

  background: none;
  border: none;

  font-family:
    rutiger,
    ‘Frutiger Linotype’,
    Univers,
    Calibri,
    ‘Gill Sans’,
    ‘Gill Sans MT’,
    ‘Myriad Pro’,
    Myriad,
    ‘DejaVu Sans Condensed’,
    ‘Liberation Sans’,
    ‘Nimbus Sans L’,
    Tahoma,
    Geneva,
    ‘Helvetica Neue’,
    Helvetica,
    Arial,
    sans-serif;
}

:where(ul) {
  padding-left: 1rem;
}

:where(a) {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

@include mixins.target-selector-and-children("strong, bold") {
  font-weight: bold;
}

@include mixins.target-selector-and-children("em, i") {
  font-style: italic;
}
