// Partially based on the styles used by GM Binder
@use "./utils/theme" as theme;

html {
  @include theme.applyTheme(theme.$ua-light);

  @media (prefers-color-scheme: dark) {
    @include theme.applyTheme(theme.$ua-dark);
  }

  font-family: theme.$font-body;
  background-color: theme.$color-bg;
  color: theme.$color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$font-heading;
  margin-bottom: theme.$space-headings-margin-bottom;

  & + p > em:only-child {
    // Sometimes we have italics directly after a heading as a subtitle,
    // on which case we want to add some space between it and the body
    // text
    display: block;
    padding-bottom: theme.$space-paragraph-element-gap;
  }
}

h1 {
  font-size: theme.$font-h1-size;
}

h2 {
  font-size: theme.$font-h2-size;
}

h3 {
  font-size: theme.$font-h3-size;
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

h4 {
  font-size: theme.$font-h4-size;
}

h5 {
  font-size: theme.$font-h5-size;
}

h6 {
  font-size: theme.$font-h6-size;
}

p,
blockquote,
li {
  line-height: theme.$space-body-line-height;
}

p {
  // If we have multiple paragraphs in a row, we want indent the first line
  // of each paragraph after the first
  & + p {
    text-indent: theme.$space-indent;
  }

  & + *:not(p) {
    // Put space between paragraphs and other elements
    margin-top: theme.$space-paragraph-element-gap;
  }
}

*:not(p) + p > strong:first-child {
  // If a paragraph would not normally have its first line indented, but
  // it starts with bold text, we indent it anyway
  margin-left: theme.$space-indent;
}

blockquote,
table {
  *:not(&) + &,
  & + *:not(&) {
    // Add a margin top to a non blockquote/table that come after a table,
    // as well as a blockquote/table that come after a non blockquote/table
    margin-top: theme.$space-special-element-gap;
  }
}

blockquote {
  background-color: theme.$color-block-bg;
  padding: theme.$space-block-padding;
  font-family: theme.$font-sans;
}

table {
  width: 100%;
  font-family: theme.$font-sans;
  border-collapse: collapse;

  tbody tr:nth-child(odd) {
    background-color: theme.$color-table-odd-row-bg;
  }

  td,
  th {
    padding: theme.$space-table-cell-padding;
  }

  th {
    font-weight: bold;
  }

  &.shrink td {
    font-size: 0.8em;
  }
}

// Special Headings
h1 {
  &#credits ~ * a {
    // Make sure links within the credits section stand out
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
  }

  &#hidden {
    &,
    ~ * {
      // Hide content under any headings not meant to be shown to the user
      display: none;
    }
  }
}
