// Partially based on the styles used by GM Binder
@use "./utils/theme" as theme;

html {
  @include theme.applyTheme(theme.$ua-light);

  @media (prefers-color-scheme: dark) {
    @include theme.applyTheme(theme.$ua-dark);
  }

  font-family: theme.$font-dnd-body;
  background-color: theme.$color-bg;
  color: theme.$color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$font-dnd-heading;
  margin-bottom: 10.5px;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

p,
blockquote {
  line-height: 1.25rem;
}

p {
  --paragraph-first-line-indent: 1rem;
  *:not(p) + & > strong:first-child {
    // If a paragraph would not normally have its first line indented, but
    // it starts with bold text, we indent it anyway
    margin-left: var(--paragraph-first-line-indent);
  }

  & + p {
    text-indent: var(--paragraph-first-line-indent);
  }

  & + *:not(p) {
    margin-top: 10.5px;
  }
}

blockquote {
  background-color: theme.$color-block-bg;
  padding: 2px;
  font-family: theme.$font-dnd-sans;
}

table {
  width: 100%;
  font-family: theme.$font-dnd-sans;
  border-collapse: collapse;

  tbody tr:nth-child(odd) {
    background-color: theme.$color-table-odd-row-bg;
  }

  th {
    font-weight: bold;
  }

  td,
  th {
    padding: 0.2rem;
  }
}

* + blockquote,
* + table,
blockquote + *,
table + * {
  margin-top: 1rem;
}
