---
import Container from "$/components/Container.astro";
import ChainInitiativeTracker from "~chain-initiative-tracker";
import RootLayout from "$/layouts/RootLayout.astro";
---

<RootLayout title="Chain Initiative Tool">
  <Container>
    <div style="height: 16px;"></div>
    <ChainInitiativeTracker client:load />
  </Container>
</RootLayout>
