---
import RootLayout from "$/layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const allHomebrew = await getCollection(
  "homebrew",
  (item) => !item.data.hidden,
);
---

<RootLayout>
  {
    allHomebrew.map((item) => (
      <a href={`/homebrew/${item.slug}`}>{item.data.title}</a>
    ))
  }
</RootLayout>
