---
import RootLayout from "$/layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const allHomebrew = await getCollection(
  "homebrew",
  (item) => !item.data.hidden,
);
---

<RootLayout>
  <div class="landing">
    {
      allHomebrew.map((item) => (
        <a href={`/homebrew/${item.slug}`}>{item.data.title}</a>
      ))
    }
  </div>
</RootLayout>

<style lang="scss">
  .landing {
    height: 100vh;
    width: 100%;
  }
</style>
