$var__font-dnd-body: --font-dnd-body;
$var__font-ui-body: --font-ui-body;
$var__font-heading: --font-heading;
$var__font-sans: --font-sans;
$font-dnd-body: var($var__font-dnd-body);
$font-heading: var($var__font-heading);
$font-sans: var($var__font-sans);

$var__font-h1-size: --font-h1-size;
$var__font-h2-size: --font-h2-size;
$var__font-h3-size: --font-h3-size;
$var__font-h4-size: --font-h4-size;
$var__font-h5-size: --font-h5-size;
$var__font-h6-size: --font-h6-size;
$font-h1-size: var($var__font-h1-size);
$font-h2-size: var($var__font-h2-size);
$font-h3-size: var($var__font-h3-size);
$font-h4-size: var($var__font-h4-size);
$font-h5-size: var($var__font-h5-size);
$font-h6-size: var($var__font-h6-size);

$var__color-bg: --color-bg;
$var__color-text: --color-text;
$var__color-text-heading: --color-text-heading;
$var__color-surface-bg: --color-surface-bg;
$var__color-table-odd-row-bg: --color-table-odd-row-bg;
$color-bg: var($var__color-bg);
$color-text: var($var__color-text);
$color-text-heading: var($var__color-text-heading, auto);
$color-surface-bg: var($var__color-surface-bg);
$color-table-odd-row-bg: var($var__color-table-odd-row-bg);

$var__space-indent: --space-indent;
$var__space-body-line-height: --space-body-line-height;
$var__space-paragraph-element-gap: --space-paragraph-element-gap;
$var__space-special-element-gap: --space-special-element-gap;
$var__space-table-cell-padding: --space-table-cell-padding;
$var__space-block-padding: --space-block-padding;
$var__space-headings-margin-bottom: --space-headings-margin-bottom;
$space-indent: var($var__space-indent);
$space-body-line-height: var($var__space-body-line-height);
$space-paragraph-element-gap: var($var__space-paragraph-element-gap);
$space-special-element-gap: var($var__space-special-element-gap);
$space-table-cell-padding: var($var__space-table-cell-padding);
$space-block-padding: var($var__space-block-padding);
$space-headings-margin-bottom: var($var__space-headings-margin-bottom);

@mixin applyTheme($theme) {
  #{$var__font-dnd-body}: #{map-get($theme, "font-dnd-body")};
  #{$var__font-heading}: #{map-get($theme, "font-heading")};
  #{$var__font-sans}: #{map-get($theme, "font-sans")};

  #{$var__font-h1-size}: #{map-get($theme, "font-h1-size")};
  #{$var__font-h2-size}: #{map-get($theme, "font-h2-size")};
  #{$var__font-h3-size}: #{map-get($theme, "font-h3-size")};
  #{$var__font-h4-size}: #{map-get($theme, "font-h4-size")};
  #{$var__font-h5-size}: #{map-get($theme, "font-h5-size")};
  #{$var__font-h6-size}: #{map-get($theme, "font-h6-size")};

  #{$var__color-bg}: map-get($theme, "color-bg");
  #{$var__color-text}: map-get($theme, "color-text");
  @if map-has-key($theme, "color-text-heading") {
    #{$var__color-text-heading}: map-get($theme, "color-text-heading");
  }
  #{$var__color-surface-bg}: map-get($theme, "color-surface-bg");
  #{$var__color-table-odd-row-bg}: map-get($theme, "color-table-odd-row-bg");

  #{$var__space-indent}: #{map-get($theme, "space-indent")};
  #{$var__space-body-line-height}: #{map-get($theme, "space-body-line-height")};
  #{$var__space-paragraph-element-gap}: #{map-get(
      $theme,
      "space-paragraph-element-gap"
    )};
  #{$var__space-special-element-gap}: #{map-get(
      $theme,
      "space-special-element-gap"
    )};
  #{$var__space-table-cell-padding}: #{map-get(
      $theme,
      "space-table-cell-padding"
    )};
  #{$var__space-block-padding}: #{map-get($theme, "space-block-padding")};
}

$theme-fragment_dnd-spacing: (
  "space-indent": 1rem,
  "space-body-line-height": 1.25rem,
  "space-paragraph-element-gap": 0.65rem,
  "space-special-element-gap": 1rem,
  "space-table-cell-padding": 0.2rem,
  "space-block-padding": 2px,
  "space-headings-margin-bottom": 0.2em,
);

$theme-fragment_ua-typography: (
  "font-dnd-body": "Bookinsanity, serif",
  "font-heading": "Mr Eaves, serif",
  "font-sans": "Scaly Sans, sans-serif",
  "font-h1-size": 30pt,
  "font-h2-size": 22pt,
  "font-h3-size": 18pt,
  "font-h4-size": 15pt,
  "font-h5-size": 12pt,
  "font-h6-size": 1rem,
);

$theme-fragment_ua-base: map-merge(
  $theme-fragment_dnd-spacing,
  $theme-fragment_ua-typography
);

$ua-light: map-merge(
  $theme-fragment_ua-base,
  (
    "color-bg": #ffffff,
    "color-text": #000000,
    "color-surface-bg": #d9d9d9,
    "color-table-odd-row-bg": #f2f2f2,
  )
);

$ua-dark: map-merge(
  $theme-fragment_ua-base,
  (
    "color-bg": #313339,
    "color-text": #d3d5d8,
    "color-surface-bg": #202124,
    "color-table-odd-row-bg": #27292e,
  )
);
