---
import type { HTMLAttributes } from "astro/types";
import { THEME_LISTINGS } from "$/constants/themeListings";
export type Props = HTMLAttributes<"select">;

import * as styles from "./ThemeSelection.css";
---

<script>
  import { THEME_LISTINGS } from "$/constants/themeListings";
  import { themeAtom } from "$/stores";

  const themeSelectInput =
    document.querySelector<HTMLSelectElement>("#theme-select");

  if (themeAtom.value && themeSelectInput) {
    themeSelectInput.value = themeAtom.value.id;
  }

  themeSelectInput?.addEventListener("change", (event) => {
    const element = event.target as HTMLSelectElement;

    if (element.value === "") {
      themeAtom.set(undefined);
      return;
    }
    const correspondingThemeListing = THEME_LISTINGS.find(
      (theme) => theme.id === element.value,
    );

    if (!correspondingThemeListing) {
      return;
    }

    themeAtom.set({
      class: correspondingThemeListing.class,
      id: correspondingThemeListing.id,
    });
  });
</script>

<select id="theme-select" class={styles.select}>
  <option selected value="">Auto</option>
  {
    THEME_LISTINGS.map((theme) => (
      <option value={theme.id}>{theme.label}</option>
    ))
  }
</select>
