---
import type { HTMLAttributes } from "astro/types";
import { THEMES } from "$/constants/themes";
export type Props = HTMLAttributes<"select">;
---

<script>
  import { themeAtom } from "$/stores";

  const themeSelectInput =
    document.querySelector<HTMLSelectElement>("#theme-select");

  if (themeAtom.value && themeSelectInput) {
    themeSelectInput.value = themeAtom.value;
  }

  themeSelectInput?.addEventListener("change", (event) => {
    const element = event.target as HTMLSelectElement;

    if (element.value === "") {
      themeAtom.set(undefined);
    } else {
      themeAtom.set(element.value);
    }
  });
</script>

<select id="theme-select">
  <option selected value="">Auto</option>
  {THEMES.map((theme) => <option value={theme.id}>{theme.label}</option>)}
</select>

<style lang="scss">
  select {
    text-align: right;
  }
</style>
